# How to produce a billing breakdown, export it as PDF and push it to Google Drive

This is the sandbox notebook for the billing breakdown script. The Pandas to PDF export script is largely inspired by an [online tutorial]( http://pbpython.com/pdf-reports.html). ~~The other main source of documentation is the [Google Drive Python API documentation](https://developers.google.com/drive/web/quickstart/python)~~. ~~We use the [pydrive](http://pythonhosted.org/PyDrive/) library to upload file into Google Drive~~. OK we have a problem: pydrive is python2. So we have to use the Google Drive API without the wrapper.

In [1]:
# All imports go here (the conda environment is called 'internal-tools')
from os import getenv
from pandas import read_sql_table, read_sql_query
from sqlalchemy import create_engine
from weasyprint import HTML
from jinja2 import Environment, FileSystemLoader

## Loading the data from the database

In [2]:
# Build the database connection URI by parts
postgres_password = getenv('VALKFLEET_INTERNAL_TOOLS_POSTGRES_PASSWORD_READ_ONLY_USER')
postgres_user = 'valkfleet_ro'
postgres_database = 'valk_fleet'
postgrest_server = 'bi-live-mon.deliveryhero.com'

In [3]:
# Assemble the URI
uri_format = 'postgresql://{user}:{password}@{server}/{database}'

postgres_uri = uri_format.format(user=postgres_user,
                                 password=postgres_password,
                                 server=postgrest_server,
                                 database=postgres_database)

print(postgres_uri)

postgresql://valkfleet_ro:J1I4zwPAtzgsXWL5@bi-live-mon.deliveryhero.com/valk_fleet

In [4]:
# Connect to the database and load the entire data
# That will do for now but later we will want to load just the last two weeks
engine = create_engine(postgres_uri)

with engine.connect() as connection, connection.begin():
    data = read_sql_table('delivery', connection, schema='tableau')

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162051 entries, 0 to 162050
Data columns (total 61 columns):
fleet                              162051 non-null object
timezone                           162051 non-null object
order_uuid                         162051 non-null object
delivery_uuid                      162051 non-null object
delivery_short_id                  162051 non-null object
source_name                        162051 non-null object
source_id                          162051 non-null object
route_id                           162051 non-null object
ordering_in_route                  126159 non-null float64
source_transaction_id              162051 non-null object
restaurant_uuid                    162051 non-null object
restaurant_name                    162051 non-null object
restaurant_city                    162051 non-null object
restaurant_zipcode                 162051 non-null object
restaurant_source_id               162051 non-null object
driver_username                    162051 non-null object
battery_status                     0 non-null float64
customer_phone_number              162051 non-null object
customer_street                    162051 non-null object
customer_number                    162051 non-null object
customer_zipcode                   162051 non-null object
customer_city                      162051 non-null object
customer_country                   162051 non-null object
customer_raw_address               162051 non-null object
distance_to_customer               133145 non-null float64
distance_traveled_to_customer      0 non-null object
distance_to_restaurant             0 non-null object
distance_traveled_to_restaurant    0 non-null object
total                              162051 non-null float64
payment_type                       162051 non-null object
delivery_fee                       0 non-null object
last_delivery_status               162051 non-null object
last_delivery_status_timestamp     162051 non-null datetime64[ns]
transaction_timestamp              116079 non-null datetime64[ns]
created_at_timestamp               162051 non-null datetime64[ns]
assigned_timestamp                 162051 non-null object
fc_reaction_timestamp              162051 non-null object
assignment_accuracy                162051 non-null object
accepted_timestamp                 0 non-null datetime64[ns]
driver_reaction_timestamp          162051 non-null object
at_restaurant_timestamp            0 non-null datetime64[ns]
start_route_timestamp              127439 non-null datetime64[ns]
real_pickup_timestamp              0 non-null datetime64[ns]
requested_pickup_timestamp         100141 non-null datetime64[ns]
confirmed_pickup_timestamp         95673 non-null datetime64[ns]
requested_delivery_timestamp       162051 non-null object
expected_delivery_timestamp        162051 non-null object
waiting_time                       162051 non-null object
pick_up_eta                        126201 non-null datetime64[ns]
delivery_at_eta                    111876 non-null datetime64[ns]
cancellation_reason                162051 non-null object
assigned_by                        162051 non-null object
cancelled_by                       162051 non-null object
reassigned_by                      162051 non-null object
unassigned_by                      162051 non-null object
gastronomic_day                    162051 non-null datetime64[ns]
driver_uuid                        162051 non-null object
air_distance_to_customer           162051 non-null float64
customer_lat                       162022 non-null float64
customer_lng                       162022 non-null float64
created_at_hour                    162051 non-null int64
dtypes: datetime64[ns](12), float64(7), int64(1), object(41)
memory usage: 76.7+ MB

## Filtering the dataset

In [5]:
# Ok now we need to select one month of data: how about using the gastronomic_day column?
day = data['gastronomic_day']
day.head()

0   2015-03-25
1   2015-03-25
2   2015-03-25
3   2015-03-25
4   2015-03-25
Name: gastronomic_day, dtype: datetime64[ns]

In [6]:
# The following doesn't work:
try:
    data_november = data.loc[(data['gastronomic_day'].month==11) & (data['gastronomic_day'].year==2015)]
    data.info()
except:
    pass

In [7]:
# Why? Let's see what type of object we're dealing with.
type(data['gastronomic_day'])

pandas.core.series.Series

In [8]:
# OK I'm not getting anywhere, let's try masking.
mask_november = (data.gastronomic_day >= '2015-11-01') & (data.gastronomic_day <= '2015-11-30')
data_november = data[mask_november]
data_november.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63260 entries, 60779 to 159688
Data columns (total 61 columns):
fleet                              63260 non-null object
timezone                           63260 non-null object
order_uuid                         63260 non-null object
delivery_uuid                      63260 non-null object
delivery_short_id                  63260 non-null object
source_name                        63260 non-null object
source_id                          63260 non-null object
route_id                           63260 non-null object
ordering_in_route                  52491 non-null float64
source_transaction_id              63260 non-null object
restaurant_uuid                    63260 non-null object
restaurant_name                    63260 non-null object
restaurant_city                    63260 non-null object
restaurant_zipcode                 63260 non-null object
restaurant_source_id               63260 non-null object
driver_username                    63260 non-null object
battery_status                     0 non-null float64
customer_phone_number              63260 non-null object
customer_street                    63260 non-null object
customer_number                    63260 non-null object
customer_zipcode                   63260 non-null object
customer_city                      63260 non-null object
customer_country                   63260 non-null object
customer_raw_address               63260 non-null object
distance_to_customer               63228 non-null float64
distance_traveled_to_customer      0 non-null object
distance_to_restaurant             0 non-null object
distance_traveled_to_restaurant    0 non-null object
total                              63260 non-null float64
payment_type                       63260 non-null object
delivery_fee                       0 non-null object
last_delivery_status               63260 non-null object
last_delivery_status_timestamp     63260 non-null datetime64[ns]
transaction_timestamp              52121 non-null datetime64[ns]
created_at_timestamp               63260 non-null datetime64[ns]
assigned_timestamp                 63260 non-null object
fc_reaction_timestamp              63260 non-null object
assignment_accuracy                63260 non-null object
accepted_timestamp                 0 non-null datetime64[ns]
driver_reaction_timestamp          63260 non-null object
at_restaurant_timestamp            0 non-null datetime64[ns]
start_route_timestamp              53393 non-null datetime64[ns]
real_pickup_timestamp              0 non-null datetime64[ns]
requested_pickup_timestamp         54515 non-null datetime64[ns]
confirmed_pickup_timestamp         52640 non-null datetime64[ns]
requested_delivery_timestamp       63260 non-null object
expected_delivery_timestamp        63260 non-null object
waiting_time                       63260 non-null object
pick_up_eta                        57766 non-null datetime64[ns]
delivery_at_eta                    50621 non-null datetime64[ns]
cancellation_reason                63260 non-null object
assigned_by                        63260 non-null object
cancelled_by                       63260 non-null object
reassigned_by                      63260 non-null object
unassigned_by                      63260 non-null object
gastronomic_day                    63260 non-null datetime64[ns]
driver_uuid                        63260 non-null object
air_distance_to_customer           63260 non-null float64
customer_lat                       63234 non-null float64
customer_lng                       63234 non-null float64
created_at_hour                    63260 non-null int64
dtypes: datetime64[ns](12), float64(7), int64(1), object(41)
memory usage: 29.9+ MB

In [9]:
# That looks alright... let's check again quickly:
data_november['gastronomic_day'].head()

60779   2015-11-01
60780   2015-11-01
60781   2015-11-01
60782   2015-11-01
60783   2015-11-01
Name: gastronomic_day, dtype: datetime64[ns]

In [10]:
# Now we need to filter by restaurant
# For the sake of sandboxing, let's pick one random restaurant.
data_november[['restaurant_name', 'restaurant_uuid']].head()

,restaurant_name,restaurant_uuid
60779,Champion Crepes,91c14640-9662-438f-a9e1-a444773f37de
60780,Bobby Burger Stawki,4117ea1c-60b7-42dd-9055-efa89c3041e5
60781,Plava Laguna,4f57be91-823d-42ae-b13d-fa95ceb090b6
60782,Plava Laguna,4f57be91-823d-42ae-b13d-fa95ceb090b6
60783,Plava Laguna,4f57be91-823d-42ae-b13d-fa95ceb090b6

In [11]:
# The Bobby Burger sounds cool, let's use that.
data_november_bobby = data_november[data_november['restaurant_uuid']=='4117ea1c-60b7-42dd-9055-efa89c3041e5']
data_november_bobby.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 60780 to 159665
Data columns (total 61 columns):
fleet                              128 non-null object
timezone                           128 non-null object
order_uuid                         128 non-null object
delivery_uuid                      128 non-null object
delivery_short_id                  128 non-null object
source_name                        128 non-null object
source_id                          128 non-null object
route_id                           128 non-null object
ordering_in_route                  103 non-null float64
source_transaction_id              128 non-null object
restaurant_uuid                    128 non-null object
restaurant_name                    128 non-null object
restaurant_city                    128 non-null object
restaurant_zipcode                 128 non-null object
restaurant_source_id               128 non-null object
driver_username                    128 non-null object
battery_status                     0 non-null float64
customer_phone_number              128 non-null object
customer_street                    128 non-null object
customer_number                    128 non-null object
customer_zipcode                   128 non-null object
customer_city                      128 non-null object
customer_country                   128 non-null object
customer_raw_address               128 non-null object
distance_to_customer               128 non-null float64
distance_traveled_to_customer      0 non-null object
distance_to_restaurant             0 non-null object
distance_traveled_to_restaurant    0 non-null object
total                              128 non-null float64
payment_type                       128 non-null object
delivery_fee                       0 non-null object
last_delivery_status               128 non-null object
last_delivery_status_timestamp     128 non-null datetime64[ns]
transaction_timestamp              0 non-null datetime64[ns]
created_at_timestamp               128 non-null datetime64[ns]
assigned_timestamp                 128 non-null object
fc_reaction_timestamp              128 non-null object
assignment_accuracy                128 non-null object
accepted_timestamp                 0 non-null datetime64[ns]
driver_reaction_timestamp          128 non-null object
at_restaurant_timestamp            0 non-null datetime64[ns]
start_route_timestamp              106 non-null datetime64[ns]
real_pickup_timestamp              0 non-null datetime64[ns]
requested_pickup_timestamp         0 non-null datetime64[ns]
confirmed_pickup_timestamp         0 non-null datetime64[ns]
requested_delivery_timestamp       128 non-null object
expected_delivery_timestamp        128 non-null object
waiting_time                       128 non-null object
pick_up_eta                        97 non-null datetime64[ns]
delivery_at_eta                    88 non-null datetime64[ns]
cancellation_reason                128 non-null object
assigned_by                        128 non-null object
cancelled_by                       128 non-null object
reassigned_by                      128 non-null object
unassigned_by                      128 non-null object
gastronomic_day                    128 non-null datetime64[ns]
driver_uuid                        128 non-null object
air_distance_to_customer           128 non-null float64
customer_lat                       128 non-null float64
customer_lng                       128 non-null float64
created_at_hour                    128 non-null int64
dtypes: datetime64[ns](12), float64(7), int64(1), object(41)
memory usage: 62.0+ KB

## Outputing the file as CSV

In [12]:
# OK so now we have our filtered dataset. The next step is to output the relevant fields to CSV.
data_november_bobby_csv = data_november_bobby[['order_uuid', 'created_at_timestamp', 
                                               'total', 
                                               'driver_username', 
                                               'customer_raw_address']]
data_november_bobby_csv.head()

,order_uuid,created_at_timestamp,total,driver_username,customer_raw_address
60780,9014076b-8d46-40d1-b168-7fdb0bdbd2c4,2015-11-01 10:33:37,63,,"Gwiaździsta 25/71, Warszawa"
71218,7b141471-0d5f-43d7-8c9b-d447a0365ed0,2015-11-01 13:08:11,59,Sebastian Krzykowski,"Broniewskiego Władysława 9a, Warszawa"
71221,02c993a8-73fd-4f29-928e-b839a7951147,2015-11-01 13:15:51,72,Sebastian Krzykowski,"Potocka 6 m109, Warszawa"
71237,91698296-32f7-4c40-94e1-382aa4bda9ac,2015-11-01 14:15:50,64,,"Burakowska 16, Warszawa"
71243,d78c339f-6c38-4a61-94bc-001150bd5ef1,2015-11-01 15:07:41,74,,"Słomińskiego Zygmunta 5, Warszawa"

In [13]:
# OK, now write to file
data_november_bobby_csv.to_csv('/Users/loicjounot/Documents/data_november_bobby.csv')

In [14]:
# Let's generate some global statistics, like the total price if the meals.
# These are the sort of things we would like to see in the report header.
monthly_total_invoiced = data_november_bobby_csv['total'].sum()
print('Total invoiced =', monthly_total_invoiced, '€')

Total invoiced = 7142.0 €

## Generating a PDF file

In [15]:
# This is where the tutorial helps. First, specify the html template file.
current_directory_loader = FileSystemLoader('../')
template_filepath = "report_template.html"

In [16]:
# Then load the template
environment = Environment(loader=current_directory_loader)
report_template = environment.get_template(template_filepath)

In [17]:
# Now render an html table
template_variables = {'total': monthly_total_invoiced, 'billing_breakdown_table': data_november_bobby_csv.to_html()}
html_out = report_template.render(template_variables)

In [31]:
# And finally output to PDF
HTML(string=html_out).write_pdf('/Users/loicjounot/Documents/data_november_bobby4.pdf')

## How to load a subset of the database
The report needs to be generated bi-monthly.

In [19]:
# Let's use a pure SQL query to grab the data we want. 
# We could actually do one query per restaurant so that we don't need to filter anything once in pandas.
# Then pandas would only be used because it can generate an HTML table in a single line.
read_sql_query('SELECT * FROM tableau.delivery', engine)

,fleet,timezone,order_uuid,delivery_uuid,delivery_short_id,source_name,source_id,route_id,ordering_in_route,source_transaction_id,...,assigned_by,cancelled_by,reassigned_by,unassigned_by,gastronomic_day,driver_uuid,air_distance_to_customer,customer_lat,customer_lng,created_at_hour
0,nottingham,Europe/London,d022426b-a2ab-45c3-8266-2a38f0b12050,c2a1ee57-2587-43be-9ffd-9adfd98965a2,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
1,nottingham,Europe/London,383851c7-7fb1-4a60-a0ae-39737285dfcc,500ba64a-cd72-443f-b0eb-746fd30f49e3,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
2,nottingham,Europe/London,da97224a-5685-43fe-9995-c6f0e6839409,00133d62-8000-4cc4-bcd4-28ffe27c4e41,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
3,nottingham,Europe/London,bac3b8cd-469e-4a19-bfd3-6cbe7f75b3e5,8a9aad4a-2c20-4a64-8b6c-463cefb667ea,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
4,nottingham,Europe/London,94b935fa-24b6-43a9-90fb-ce45b513760d,a168bd74-93ff-49c5-812d-04a0feb4b0fb,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
5,nottingham,Europe/London,b502e66b-2820-40ad-a7d7-4f2fa5759284,4619e432-00de-4591-9334-495384d1013c,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
6,nottingham,Europe/London,be540f24-9bdb-417c-b1ec-8b179b636792,30c96dd5-8fe9-4a09-873a-e39cf5d3f75e,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
7,nottingham,Europe/London,9031f8a8-aef9-470a-9821-4b883f610539,e9f9858b-e5f9-487a-9d62-6454993bc4b4,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
8,nottingham,Europe/London,21dbb6e9-369b-43cc-b6f0-5a851c419d09,c363a479-4c2f-4feb-bd30-6fac6c4ba31e,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
9,nottingham,Europe/London,bafed281-6b4c-4d59-a751-953aeeb002fe,17f34116-d784-4c0d-85b1-215643a6d747,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
10,nottingham,Europe/London,fd26a0f4-a794-4ed3-8972-88ea6d073333,56c88afa-0f77-441e-bfb8-ccf73fb0bb6d,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
11,nottingham,Europe/London,85a7a0ba-5912-47e0-bd20-db4abb6ba90f,aba4d41d-fd48-40fc-bf88-6ea6df756915,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
12,nottingham,Europe/London,20f3cae9-9bd6-40e7-9201-bf3004248a67,4968094d-95ee-43ee-94e7-51656ccacd6e,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
13,nottingham,Europe/London,b8380ea5-293e-4a3d-b99f-4719f1b7693a,462d18cd-2f08-4234-8c3d-a36fe24040c8,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
14,nottingham,Europe/London,aabb0d04-7943-429d-ad8f-12ff977e613e,0c89648f-627c-4482-9ec4-34eb13dd31e3,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
15,nottingham,Europe/London,d8c7d14c-1ca5-4f0d-94ca-6c81ca331db2,a77a613a-87e0-4d65-afde-7e058e61d587,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
16,nottingham,Europe/London,950d6fba-a92c-473a-8c61-d13c8780f36a,f5fafa11-9315-4b09-a895-ddaaaaa2e123,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
17,nottingham,Europe/London,53b23cb0-d448-401f-83fc-61719af49b8f,869d6b96-ff23-4b05-b1c7-7fcd84398c31,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
18,nottingham,Europe/London,8984b962-2854-4f08-9684-6aa090dc366b,78694d27-fe3d-474f-8f4e-341c4ba0f42c,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
19,nottingham,Europe/London,c66b2065-6525-49ef-acbf-1a755ebd3ade,f108137d-1e59-4447-937a-171fda8ce90f,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
20,nottingham,Europe/London,390991ae-a5ef-406b-957b-a15a152286fb,7391f795-1aca-4c74-bf1e-537c78d20cf0,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoM...,,NaN,0,...,,,,,2015-03-25,,3731.430,52.9523,-1.122330,17
21,nottingham,Europe/London,bf55b0a6-412e-4b84-a2f1-c5a28e082d65,9da61f33-f238-4e52-9898-a00fad606b2b,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
22,nottingham,Europe/London,5fded250-947f-4126-b273-b0aa55db7b3a,7d81d370-e430-451c-a943-81d18cc3e465,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
23,nottingham,Europe/London,ee24b3c7-fe9c-45a9-9d20-090174ee35f5,6d46d4e1-23e7-4163-8960-a06cd02d8c3c,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
24,nottingham,Europe/London,5cc32857-0d16-4e9b-9f36-3a842b8fe120,f06bb6b7-e257-48c2-86b2-4bcb1ffbe39f,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
25,nottingham,Europe/London,fc149a1b-c48d-4a6e-8728-5f110e5bee32,d35e9ae0-be1e-461f-8f52-ade1b833d2f4,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoI...,,NaN,0,...,,,,,2015-03-25,,2423.800,52.9648,-1.125080,17
26,nottingham,Europe/London,c342869e-0112-4135-899b-b870a0578f8f,fd133c8e-ba66-4644-95e5-babab69faff6,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoL...,,NaN,16:48 25/03/15,...,,,,,2015-03-25,,2850.730,53.0093,-1.107130,17
27,nottingham,Europe/London,12f8f484-8a4f-4206-963b-796f4b98875c,cbc2403d-9320-4585-9783-562389f4fba3,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoN...,,NaN,0,...,,,,,2015-03-25,,1586.430,52.9969,-1.147690,17
28,nottingham,Europe/London,a8b53558-3bb2-4c46-916d-a43e5875f019,53905a61-86ee-4073-94fc-14c925cb2bcd,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoN...,,NaN,17:02 25/03/15,...,,,,,2015-03-25,,2715.080,53.0106,-1.112100,18
29,nottingham,Europe/London,949c15ec-1d0f-484d-a999-b3d95299c127,bffbb0a5-dd25-4b0c-b537-1a49c8b2e1f9,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAoP...,,NaN,17:00 25/03/15,...,,,,,2015-03-25,,0.000,52.9924,-1.138990,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162021,nottingham,Europe/London,4f8e9605-f3a1-495a-80a4-8d9a1b31e03c,e61d8906-a00f-4ecc-aeb5-7d3ed2b02381,,backchannel,,,NaN,4f8e9605-f3a1-495a-80a4-8d9a1b31e03c,...,,,,,2015-12-01,,2102.200,52.9521,-1.150510,21
162022,nottingham,Europe/London,0c58afb0-911e-429d-9185-64e6cb45248d,a15599a3-98c3-4353-93cd-18f00fd3ee83,,backchannel,,8e3679ec-5bc4-4b52-9698-36d87d4cce3e,0,0c58afb0-911e-429d-9185-64e6cb45248d,...,,,,,2015-12-01,2f051216-5b91-4844-a900-59528e13fc40,5598.860,53.0136,-1.194140,21
162023,nottingham,Europe/London,a856aabd-c0b2-4f28-9941-5280759c7291,9353c7fc-f3b4-4153-8e9e-5694e6f2cd83,,yReceipts,ahBzfnlyZWNlaXB0cy1wcm9kchQLEgdSZWNlaXB0GICAkJ...,7ae1f050-c8fd-479f-bb60-e29c0cf842f0,0,B111,...,,,,,2015-12-01,5e0751f9-6b74-42d6-b0cd-6b736266f356,1005.650,52.9486,-1.149420,21
162024,nottingham,Europe/London,125d178d-3aa6-47c3-bc0f-50daaf1ef556,84afb3aa-8d46-4db4-92b1-04267d12f16b,,backchannel,,dd2be37f-c0f0-44c7-8ce6-a55f06e810ef,0,125d178d-3aa6-47c3-bc0f-50daaf1ef556,...,,,,,2015-12-01,49443373-fbbe-4c86-ae9e-e770fbcf567e,1286.030,52.9650,-1.176000,21
162025,nottingham,Europe/London,793f3018-76e9-41bc-b264-0d09db4a49df,cdba4e1d-8db7-40d4-907f-9af673af7ccb,,backchannel,,8859ed18-8e30-4826-a043-21357cabeaa0,0,793f3018-76e9-41bc-b264-0d09db4a49df,...,,,,,2015-12-01,00e0d643-660b-4f73-b25b-b8dd6932cd7c,3575.940,52.9596,-1.152850,21
162026,london_yeading,Europe/London,4d72d685-86f6-4369-9784-b188e282e317,ff78531a-e679-4050-bf96-d582695655aa,,backchannel,,c7bffc8b-a25e-4119-8969-67fc688872d2,0,4d72d685-86f6-4369-9784-b188e282e317,...,,,,,2015-12-01,ece31812-e5c1-4574-bec1-85c59a7b5ea7,3130.060,51.4987,-0.370703,21
162027,london_yeading,Europe/London,303f7a1d-afc3-471e-8694-738aa89c71bd,4d2ee0bf-2f6d-4606-97ee-940da12385e1,,9Cookies,64562266,04c74723-b461-4936-a133-32a16d25cbb2,0,64562266,...,,,,,2015-12-01,2696969a-bfb0-45bf-9c10-e1c561d11f27,1364.290,51.5351,-0.379132,21
162028,london_yeading,Europe/London,248c793b-07cd-44f4-ac8e-8a14396bf762,7cbd15cd-3932-4f1a-be0c-28650d4d950d,,9Cookies,21927499,5ebb6cab-4478-4bc8-992c-a115aa9a69dd,0,21927499,...,,,,,2015-12-01,5c32681c-500a-4dc7-8458-1500a2db0591,4245.560,51.4964,-0.430342,21
162029,birmingham,Europe/London,eb990f32-9c65-401a-bf46-d2fe4ab1aa1d,9cdbc7fd-c3ac-494a-ba00-9c17a2039746,,backchannel,,c1e74498-28c4-401d-b226-e10d561ebf50,0,eb990f32-9c65-401a-bf46-d2fe4ab1aa1d,...,,,,,2015-12-01,206051ea-f2a8-4a9d-94a1-36b552b2f016,3208.230,52.4453,-1.935500,22
162030,birmingham,Europe/London,0cbcb75a-f4a1-49c7-a03e-1d4ff55ec768,f675ad2f-f6a5-4ac9-abde-740de20c3955,,backchannel,,39c092f9-e10b-493c-bab7-0f4a1a063bc0,0,0cbcb75a-f4a1-49c7-a03e-1d4ff55ec768,...,,,,,2015-12-01,a3f1872b-7e38-468a-83fe-ba11b5711252,2912.010,52.4835,-1.826430,23
162031,Stratford Zone R,Europe/London,1771a40c-e92f-4903-811f-0f5e34ec24ee,ab31def5-e92e-42a3-9270-f60d275847c7,,9Cookies,26941831,474d27b0-f15a-4baf-aed7-886c4f4a8aa2,0,26941831,...,,,,,2015-12-01,f8697113-d951-470d-ab5e-ad688f4c05be,614.104,51.5370,0.003570,21
162032,Stratford Zone R,Europe/London,8aadd68d-5ddc-43be-97c5-0644ed776c44,a4c638d9-fa5d-498e-b377-e132e05f0999,,9Cookies,24185771,56b04caa-ccb0-449d-8c9f-f2a76e58038b,0,24185771,...,,,,,2015-12-01,58289e0b-b0d5-4f36-b4e7-bc34f4ddd581,1387.140,51.5416,-0.021488,21
162033,Stratford Zone R,Europe/London,024b8f0d-708e-401e-8ac2-ba2de45b7240,32a7b20e-f14e-4d24-84e8-a62161f0bcd3,,9Cookies,50107598,b3c9ca13-2cf2-4004-8fe8-791a04f98fd9,0,50107598,...,,,,,2015-12-01,bdaa3de4-f42b-4296-abb6-83bf31bc5692,702.259,51.5370,-0.008608,21
162034,Stratford Zone R,Europe/London,39547661-cc2a-4415-9dc8-db094f2c8605,df08a0ee-c925-466f-8973-4daf35594b71,,9Cookies,78985190,3d8e8e98-df10-49fc-8ddc-1e303b39489e,1,78985190,...,,,,,2015-12-01,bdaa3de4-f42b-4296-abb6-83bf31bc5692,2964.350,51.5201,0.023863,21
162035,Stratford Zone R,Europe/London,3f3748ed-e30a-4491-a00f-a200c9dd1da7,2852691a-d075-4249-b635-6e83ff609b1b,,backchannel,,3d8e8e98-df10-49fc-8ddc-1e303b39489e,0,3f3748ed-e30a-4491-a00f-a200c9dd1da7,...,,,,,2015-12-01,bdaa3de4-f42b-4296-abb6-83bf31bc5692,1606.930,51.5455,0.020758,21
162036,manchester,Europe/London,ce7a374e-2d91-4088-8ba2-47fd5d9dcbdc,7e7bd7c9-59ce-48cd-9ff7-7df21b50ba6c,,backchannel,,59e89de1-f84f-4a0d-8c74-bb9113a8aea2,0,ce7a374e-2d91-4088-8ba2-47fd5d9dcbdc,...,,,,,2015-12-01,76f908f7-111e-49bc-9ad5-8792a0ea999c,4712.150,53.4835,-2.296710,22
162037,lodz,Europe/Warsaw,d6bf9f97-6db8-4aa3-b28b-c031558c5e42,6cae6b5f-d4cb-4eac-8817-4db783e731a6,,backchannel,,d16b9b62-0a97-4115-8f7a-254adc30e30c,1,d6bf9f97-6db8-4aa3-b28b-c031558c5e42,...,,,,,2015-12-01,e70cb23b-98f2-4d02-a786-a92b43222e6c,4058.990,51.7851,19.450800,21
162038,warszawa,Europe/Warsaw,7c286fbc-eae6-47ae-ab61-eb5856268120,9ac5eb5a-416e-49b3-83a9-58c4b995bfe2,,PizzaPortal,2VR8Z,,NaN,2VR8Z,...,,,,,2015-12-01,,1381.900,52.2577,21.058000,22
162039,london_queensway,Europe/London,cbe6c3e0-1b05-48c7-a2e1-0f6ea5fd6de2,131c1de3-789b-41d4-95cd-2c3d4bf76005,,backchannel,,f915eaba-5743-476d-bd26-094f1f6f859f,0,cbe6c3e0-1b05-48c7-a2e1-0f6ea5fd6de2,...,,,,,2015-12-01,cb80d444-e483-4731-ba8c-4b7321399cb0,3331.610,51.5256,-0.123667,22
162040,london_queensway,Europe/London,e2891b3f-fb91-4d32-8067-38df0bcad142,65a316c4-298b-4ea5-be1d-6063677cf48f,,backchannel,,9b4ed244-b9e0-4272-8807-5d01325b57af,0,e2891b3f-fb91-4d32-8067-38df0bcad142,...,,,,,2015-12-01,caa3c825-40f5-4978-8a0a-87c860f56179,2686.020,51.4974,-0.138477,22
162041,nottingham,Europe/London,c601a2d3-ba87-43a1-8bca-9afeff49c5c1,9fc678de-8a67-4561-8bed-ce02d99dd8c1,,backchannel,,b06abdd6-82a7-46e7-8278-d1771976c3f6,0,c601a2d3-ba87-43a1-8bca-9afeff49c5c1,...,,,,,2015-12-01,e036659f-3c11-4e7c-82a3-fe7fa2c00173,4184.980,52.9320,-1.206010,22
162042,nottingham,Europe/London,b0170e02-269a-4ad9-a3a9-97f1952f3cb4,e89720c9-3065-487d-879a-7dc0e603e7a3,,backchannel,,2e771c18-953b-4c5f-be25-549f6acd61c5,0,b0170e02-269a-4ad9-a3a9-97f1952f3cb4,...,,,,,2015-12-01,6c022f5d-3aa9-4779-a1e5-69d809d04cd2,5271.630,52.9435,-1.199040,22
162043,manchester,Europe/London,9cc70e54-6e54-47f7-8d16-66b9f2431af7,aa150c38-8db7-47af-be30-0970a5dad434,,backchannel,,,NaN,9cc70e54-6e54-47f7-8d16-66b9f2431af7,...,,,,,2015-12-01,,465.360,53.5176,-2.248280,0
162044,manchester,Europe/London,24762e74-71df-43ef-8649-423d0d786e06,d98a8b0e-2cdb-457b-81be-326b7b39ce42,,backchannel,,f13e43b4-f5a0-4e5c-88f3-c65acc8d8be6,0,24762e74-71df-43ef-8649-423d0d786e06,...,,,,,2015-12-01,87020c74-b49a-48f2-b6a5-dc8e2d8cddfb,2076.750,53.4636,-2.249950,0
162045,manchester,Europe/London,340cb268-e8bb-4d17-b014-9967428249a4,677da978-ba2d-441a-bbc3-75cea92eb5a5,,backchannel,,,NaN,340cb268-e8bb-4d17-b014-9967428249a4,...,,,,,2015-12-01,,7958.080,53.4799,-2.352410,0
162046,manchester,Europe/London,5dc0b02f-51f4-441b-876c-6c867ec86526,4d0eec7b-b1ae-4bc7-9d6f-2a28955289cf,,backchannel,,b020c209-8be9-4b7b-98c7-be51a7056539,0,5dc0b02f-51f4-441b-876c-6c867ec86526,...,,,,,2015-12-01,a41c199a-f089-4afa-9f67-2236d006c1bc,2179.100,53.4723,-2.232950,0
162047,manchester,Europe/London,f4fa316c-63c4-4b14-b207-a2eb164bd6e6,819c3b69-e3e1-43d9-998c-b1e273e3b2cf,,backchannel,,cdc574ea-1cf6-4aaf-b68b-97d1ba232efe,0,f4fa316c-63c4-4b14-b207-a2eb164bd6e6,...,,,,,2015-12-01,76f908f7-111e-49bc-9ad5-8792a0ea999c,7958.080,53.4799,-2.352410,0
162048,manchester,Europe/London,6d48f318-7403-42e1-9609-b2df6f0b6d61,b1fc2e67-e68b-4fc3-9a69-e31bec0f0da0,,backchannel,,411dd9e5-db01-4502-8543-14294ce495cf,0,6d48f318-7403-42e1-9609-b2df6f0b6d61,...,,,,,2015-12-01,221c4035-380e-4783-9da3-6cac28916abb,4467.770,53.4964,-2.186610,0
162049,warszawa,Europe/Warsaw,324fbc3e-6322-40c5-ad6d-6668fa2b6cb9,26ce56f8-d0c4-4183-a483-6b480475538e,,PizzaPortal,QC2HN,804ca9b0-3329-4a70-8276-7b51abb1d257,0,QC2HN,...,,,,,2015-12-01,ce874266-0482-4565-b4a5-2781d7fcbdc4,1328.860,52.2234,20.985700,0
162050,warszawa,Europe/Warsaw,de07d145-852b-4fbd-80aa-6dce64afca23,6f351119-c446-4fb0-884a-ce1a7f1537bb,,PizzaPortal,FH87P,d34d8e64-4113-4d83-8ed0-9ade01765d7c,0,FH87P,...,,,,,2015-12-01,4c630de0-cf40-4b96-b8e6-b1f8411700c7,2867.130,52.2031,21.010600,23

In [20]:
# That works fine. Now let's try selecting one restaurant.
read_sql_query("SELECT * FROM tableau.delivery WHERE restaurant_uuid='4117ea1c-60b7-42dd-9055-efa89c3041e5'", engine)

,fleet,timezone,order_uuid,delivery_uuid,delivery_short_id,source_name,source_id,route_id,ordering_in_route,source_transaction_id,...,assigned_by,cancelled_by,reassigned_by,unassigned_by,gastronomic_day,driver_uuid,air_distance_to_customer,customer_lat,customer_lng,created_at_hour
0,warszawa,Europe/Warsaw,eeee8348-71ff-4798-b02c-f13eb7a17f07,492657a3-f5f9-463f-9b79-916f84418d1b,,,,,NaN,U6NYT,...,,,,,2015-07-08,,330.1550,52.2504,20.9909,19
1,warszawa,Europe/Warsaw,b77670e3-6c62-4e20-802a-a7e691619f30,e2ba2cc5-934a-4278-ae68-235570600b23,,,,2fbb7e7c-5b01-4d1b-8f02-f6fc2b42ddd1,0,ENK6P,...,,,,,2015-07-10,3fa71874-3ecb-4b28-82a3-5a570c537c0b,317.2290,52.2550,20.9947,18
2,warszawa,Europe/Warsaw,1af17946-7faf-4a97-af9d-4218074d2848,29af0a5e-dd86-4aa6-8fde-4c07f7c8e093,,,,5cde6f59-96e1-4b55-9fec-b8603c7bd52e,0,MHYBG,...,,,,,2015-07-13,34342b58-7a08-441b-a05d-02571dc184d2,804.2560,52.2464,20.9937,20
3,warszawa,Europe/Warsaw,e61e085d-44b6-4f6c-bf09-a8ca4e0cf3ff,f3aadf7e-5938-4971-b0cc-1b45f7c01231,,,,,NaN,MHYBG,...,,,,,2015-07-13,,804.2560,52.2464,20.9937,20
4,warszawa,Europe/Warsaw,c6e5840b-c7c2-49bc-a792-8b3fd335e260,86a0ca72-6e72-48f0-b687-9ff480af992f,,,,d936a651-c747-4405-b42a-8f37045673c1,0,AVYZ2,...,,,,,2015-07-17,5ec93745-f79c-48d0-b7bc-ed87da6354cb,1019.6900,52.2475,20.9794,11
5,warszawa,Europe/Warsaw,9af5aa10-1eaf-4c56-95f0-b291403e9062,50ba76ee-997c-4ea9-87fd-b3215fbeca0b,,,,d93ac74c-e1b8-4318-9770-17591d9c006b,0,7N43T,...,,,,,2015-07-17,5ec93745-f79c-48d0-b7bc-ed87da6354cb,298.7600,52.2541,20.9867,17
6,warszawa,Europe/Warsaw,b256676d-b6a6-4576-a569-98eaf2bf6341,3dc7372a-a88b-4f27-9b2c-5b24718d0a0e,,,,8b255171-a2c1-41b8-8324-9922addebd16,0,78UG4,...,,,,,2015-07-18,c0904825-5006-4f9f-b011-f0f9b113951a,502.0790,52.2504,20.9964,13
7,warszawa,Europe/Warsaw,1c8aa2c9-ffa1-4c26-a5fe-1ccb254fddda,d4c59752-0aa6-4918-9347-dc4fdb32f045,,,,8e647a32-3fe6-4b8c-ad73-de21d8f7c8db,0,8K52Y,...,,,,,2015-07-20,3fa71874-3ecb-4b28-82a3-5a570c537c0b,330.9970,52.2531,20.9861,20
8,warszawa,Europe/Warsaw,bd741b7d-d226-4303-be13-df732989ad2c,70800533-9370-49d0-ae15-18344df2b0b0,,,,07f2e202-afdb-4786-aa43-97a07e4c4516,0,YLKE5,...,,,,,2015-07-21,ce874266-0482-4565-b4a5-2781d7fcbdc4,317.2290,52.2550,20.9947,19
9,warszawa,Europe/Warsaw,76f0bd5c-1a65-413f-adbf-f6eb3a6c08e1,4a9b5ae1-a6ec-4323-9e68-bec39c44b7f7,,,,2f196ac6-d69e-43b9-87dd-e9a660992add,0,ZXXE9,...,,,,,2015-07-25,8616cb19-d8f3-4b10-a09b-227acb1239a3,1065.5500,52.2562,20.9760,19
10,warszawa,Europe/Warsaw,fb41b58b-3265-4324-ad79-a9dc34934880,aa8fc1be-39a4-44a7-bbc7-fa422db1513c,,,,2a47ad47-caa0-484a-b276-a41003202656,0,ZTR4L,...,,,,,2015-07-25,30f7517f-4ca5-47c5-b401-5d32e51f1679,1290.4800,52.2449,20.9781,21
11,warszawa,Europe/Warsaw,4629494f-5cd1-42a1-8668-ee34b71152cd,2f61fa5f-9e51-4649-8dbf-c19955e0e265,,,,c07be15b-54cd-4486-8348-19a7beb4a8ba,0,MHFGY,...,,,,,2015-07-27,c0904825-5006-4f9f-b011-f0f9b113951a,1087.0900,52.2632,20.9919,15
12,warszawa,Europe/Warsaw,a8638ef7-ac73-4778-83fd-029d9da77844,28ddf86e-8e09-4583-9f03-b074e9f2eaec,,,,d1475add-70f1-4cb9-aa99-8d47d4504f81,0,WVE8Y,...,,,,,2015-07-27,c0904825-5006-4f9f-b011-f0f9b113951a,588.1220,52.2497,20.9971,18
13,warszawa,Europe/Warsaw,63602b8c-b404-41bb-9449-27c26af2328e,17a7ef6a-8ec5-4323-9e85-5bf661904a8e,,,,a2bc76ec-068f-404a-b925-2000ca46f81e,0,Z5KAS,...,,,,,2015-07-29,63dc2931-a846-422c-9596-6318918848ec,298.7600,52.2541,20.9867,13
14,warszawa,Europe/Warsaw,092b5af7-4c3a-4699-84eb-ab5655e84145,d49a5b11-dce9-42bc-868f-8e36c4ebf576,,,,,NaN,FLNU4,...,,,,,2015-07-31,,1354.9600,52.2423,20.9989,20
15,warszawa,Europe/Warsaw,d138059f-8d67-4778-82cd-d54dbbbbf475,76ef672f-e215-4df3-acb2-80543f387518,,cockpit,FLNU4,e79ebcfe-603d-45b4-ba16-bb3b6f649b34,0,FLNU4,...,,,,,2015-07-31,91285486-fc1d-46b7-b0a6-493f98aab7c6,466.2810,52.2571,20.9942,20
16,warszawa,Europe/Warsaw,a46f4768-80de-4803-b15f-71861a72a52b,4bedfc13-c8c1-4b03-934c-76da122abbb7,,,,a1a41e03-0090-466b-953b-cfb9d76d02a0,0,T3VLA,...,,,,,2015-08-01,ce874266-0482-4565-b4a5-2781d7fcbdc4,465.3990,52.2543,20.9842,11
17,warszawa,Europe/Warsaw,f7355e23-d40e-4f9e-9ef5-82f1c77bb687,1b0b975a-57a6-4e36-b29c-ddc88d97f07f,,,,3e5378cc-895e-44e1-8664-3b3c1c985f1f,0,BX7EL,...,,,,,2015-08-01,30f7517f-4ca5-47c5-b401-5d32e51f1679,1065.5500,52.2562,20.9760,20
18,warszawa,Europe/Warsaw,ad18dbf5-08ad-4fce-8c40-ac6a2cba40fb,49b4dc55-944e-48a6-88a7-2afef1f83177,,,,b79f60f5-6e5d-48e8-9dc1-e5460e8d237b,0,WVPMW,...,,,,,2015-08-02,30f7517f-4ca5-47c5-b401-5d32e51f1679,983.6050,52.2468,20.9814,17
19,warszawa,Europe/Warsaw,88d1bca1-1108-404a-b506-479ba32350ed,160b9cff-7131-4195-a4a4-4756961fb0d8,,,,c7b71004-b315-475c-a429-4d714c830cb3,0,HNYUW,...,,,,,2015-08-03,5ec93745-f79c-48d0-b7bc-ed87da6354cb,1065.5500,52.2562,20.9760,15
20,warszawa,Europe/Warsaw,2cc17818-6ed3-443e-b0e7-7d0b4820d0e8,8aaf74ef-75c1-434c-b73c-b9cf30e7fc11,,,,a89f9f3d-6521-4a6a-9bce-414a03576aa3,0,FU5HM,...,,,,,2015-08-03,30f7517f-4ca5-47c5-b401-5d32e51f1679,439.3610,52.2504,20.9867,20
21,warszawa,Europe/Warsaw,dc932643-8a72-44db-818e-b1ea0af845cd,0987f34f-fe6a-489a-afec-a62464522f09,,,,51f34bf1-237d-49df-9740-6e9c6eeb0a18,0,4JXZW,...,,,,,2015-08-04,c63142a3-5520-4f69-812a-1ead66e7dda0,3015.3700,52.2297,21.0122,13
22,warszawa,Europe/Warsaw,ffcaf125-1b5b-4f87-b5a9-6aa02621f223,a573099d-e825-44a0-862c-3459d04aaf33,,,,e88d5c93-ef94-4ef9-9ba3-38aa96d5bbed,0,7RAKE,...,,,,,2015-08-05,efa38d95-47db-4a08-b4e4-c1b03136201d,633.2580,52.2485,20.9862,16
23,warszawa,Europe/Warsaw,9af561bd-5481-4a1d-94eb-217917e4d962,365db1d5-cce3-42a7-b8a4-d8e2caaf8e2a,,,,439b9d8b-7b5b-43a2-91f8-3b19ccb82570,0,PPQJU,...,,,,,2015-08-08,ce874266-0482-4565-b4a5-2781d7fcbdc4,317.2290,52.2550,20.9947,15
24,warszawa,Europe/Warsaw,78db6157-d52d-430e-8e06-84f07f5b20ac,95fe5d71-3d03-4cca-a1a2-3ba8f11ed70e,,,,53056842-aa1b-400d-950f-0b4d5558e3c4,NaN,RZWVH,...,,,,,2015-08-09,d7641271-6b40-4c9d-9de1-749dd8b3bb35,1019.6900,52.2475,20.9794,12
25,warszawa,Europe/Warsaw,78db6157-d52d-430e-8e06-84f07f5b20ac,e528672a-5ef2-405c-8b04-8eda39618baa,,,,805602a8-8b9d-456a-932c-670a2ff12de1,0,RZWVH,...,,,,,2015-08-09,3fa71874-3ecb-4b28-82a3-5a570c537c0b,1019.6900,52.2475,20.9794,12
26,warszawa,Europe/Warsaw,fc914018-260c-42cd-9914-2dc145a488ed,a568d4b8-372c-4c33-8e3f-833f938edc5a,,,,4edf192c-d734-498e-b35f-7feaba6b1ada,0,K5AAP,...,,,,,2015-08-11,ce874266-0482-4565-b4a5-2781d7fcbdc4,2365.5900,52.2741,20.9827,13
27,warszawa,Europe/Warsaw,aa46a066-3bce-472b-bf05-7755cc8b2eab,9045ce09-d2ff-4688-a62a-b6c3255fe318,,,,731d3b4b-3a77-409d-bb24-ee8b5cf0ce6b,0,TXHUR,...,,,,,2015-08-11,ce874266-0482-4565-b4a5-2781d7fcbdc4,428.5340,52.2548,20.9850,15
28,warszawa,Europe/Warsaw,2126a90e-18a2-4a3a-bd81-9d18a6d28976,780ddfe3-52c7-4692-ad13-b8866cb8be56,,,,b4fee0b2-46b0-4e16-b667-a6d91780a49e,0,7FVP2,...,,,,,2015-08-12,a6e87e09-4fe8-4a03-956a-c342597f1b72,465.3990,52.2543,20.9842,11
29,warszawa,Europe/Warsaw,f6b52158-a8c3-4930-bd6f-bb9360be7378,80156ce3-b38a-4a2b-b27f-5bae3f0e5f2a,,,,,NaN,ZHJRP,...,,,,,2015-08-12,,170.5550,52.2519,20.9907,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,warszawa,Europe/Warsaw,2e6472ba-ea85-4589-ae0f-7e1576d461d1,dd8aee20-006d-4239-9527-c76a22925bae,,PizzaPortal,7HSG7,a823fd19-4959-448f-80ad-0339445b058d,0,7HSG7,...,,,,,2015-12-03,38caba2e-a033-49c4-aa86-7af18c216d78,1232.2600,52.2595,20.9758,19
363,warszawa,Europe/Warsaw,506370a9-14fa-4563-8bf0-d2666530eb89,afd178c7-a8d5-431e-a055-61df9474bb83,,PizzaPortal,4Y7UM,3f3f4b52-1755-45a6-b6bc-544350cff018,0,4Y7UM,...,,,,,2015-12-05,99050b54-67e9-4100-8376-8e6e15e348bc,726.7100,52.2497,20.9996,18
364,warszawa,Europe/Warsaw,48281d7c-1284-4341-9ef6-15c2168b73e5,a8cdfab9-6982-4ab4-ad98-c35f40cc951d,,PizzaPortal,GAHQJ,47b57d38-fdc5-49a2-854c-82950b36b2f6,0,GAHQJ,...,,,,,2015-12-04,8276d812-f3f8-462c-8f45-f99bdba3f915,317.2290,52.2550,20.9947,14
365,warszawa,Europe/Warsaw,0f79e70d-6142-4b65-84bd-414ef9ce2812,7235f61c-bc32-4f17-8bda-5b5e23c6e7d3,,PizzaPortal,JS574,47b57d38-fdc5-49a2-854c-82950b36b2f6,1,JS574,...,,,,,2015-12-04,8276d812-f3f8-462c-8f45-f99bdba3f915,2865.9700,52.2788,20.9842,15
366,warszawa,Europe/Warsaw,a3197bf0-dc72-435d-bd7e-8f98886f0422,d8c33910-a243-4ae6-8c1a-bb317021a594,,PizzaPortal,7VNQH,1551f996-2dd3-4e08-9612-eda4ba8f2729,0,7VNQH,...,,,,,2015-12-04,38caba2e-a033-49c4-aa86-7af18c216d78,1206.8700,52.2626,20.9815,19
367,warszawa,Europe/Warsaw,126b591a-14d2-4bf3-a8f4-af9a04976ef8,00d9d5ca-346e-4341-84c3-d15c735869f5,,PizzaPortal,2V9AP,1551f996-2dd3-4e08-9612-eda4ba8f2729,1,2V9AP,...,,,,,2015-12-04,38caba2e-a033-49c4-aa86-7af18c216d78,1210.0600,52.2602,20.9770,19
368,warszawa,Europe/Warsaw,5bcadc2b-8b3a-4988-a950-736c72da6582,5a70e511-2190-4c8c-882a-5393bd2ca9c9,,PizzaPortal,78C5X,4d13a5cd-26d2-465b-b777-ee084a818446,0,78C5X,...,,,,,2015-12-05,38caba2e-a033-49c4-aa86-7af18c216d78,2706.8200,52.2773,20.9831,12
369,warszawa,Europe/Warsaw,b8f39cbb-82c4-44c7-a7f4-eb068c63d6fc,aae63b20-cf24-4d0e-bd25-413229f5da74,,PizzaPortal,ZNHKV,9fe25bd1-6956-43ae-811c-2ee1708b273e,0,ZNHKV,...,,,,,2015-12-05,38caba2e-a033-49c4-aa86-7af18c216d78,643.5740,52.2479,20.9879,13
370,warszawa,Europe/Warsaw,aedd76e4-229f-4f8c-bccd-10f4dd24c97c,91ed3c0b-4004-45e8-918c-8112c15ccefd,,PizzaPortal,M3N8H,d7e5b0f3-21d3-40eb-bc9b-17aaff554c73,0,M3N8H,...,,,,,2015-12-05,3ef17ff0-0a44-41ae-9c2f-205251e7d07e,1177.1400,52.2601,20.9776,14
371,warszawa,Europe/Warsaw,00fec286-a772-4cef-a760-5ad48c7845da,699b5c03-fb59-455b-9f3e-9ce4a968ba61,,PizzaPortal,8S397,dc60e4d7-611f-44cc-b9a6-a88cb88a2c28,0,8S397,...,,,,,2015-12-05,3ef17ff0-0a44-41ae-9c2f-205251e7d07e,657.4770,52.2539,21.0005,14
372,warszawa,Europe/Warsaw,ac5ba37e-3656-4dd8-8b42-0c75f2e94277,0d20ce76-57a0-40f5-bc98-f0948afaf612,,PizzaPortal,MTLMN,3f3f4b52-1755-45a6-b6bc-544350cff018,1,MTLMN,...,,,,,2015-12-05,99050b54-67e9-4100-8376-8e6e15e348bc,832.8950,52.2603,20.9955,19
373,warszawa,Europe/Warsaw,53c3247d-538b-403c-afb7-21782ac1647e,ed58fa36-ee04-416f-9422-dc6961f74548,,PizzaPortal,FVL5M,76376d59-7530-43c7-8a7d-5e3b7fb73099,0,FVL5M,...,,,,,2015-12-07,cbb9431b-99b3-49dc-852f-a59dbd0cceb4,643.5740,52.2479,20.9879,18
374,warszawa,Europe/Warsaw,69c6de80-1207-4dd3-9666-5da125c9621e,daddfb3f-5ac2-4d98-b470-5d5bde899c1d,,PizzaPortal,A5RAF,97a046d1-b379-4589-afae-b5d61a73860f,0,A5RAF,...,,,,,2015-12-06,cbb9431b-99b3-49dc-852f-a59dbd0cceb4,466.2810,52.2571,20.9942,11
375,warszawa,Europe/Warsaw,a46bda16-95ce-42e2-bd0c-dca830b8501b,918af21b-b1f6-427e-8b4c-8c7e036a7f5c,,PizzaPortal,M7QVZ,97a046d1-b379-4589-afae-b5d61a73860f,1,M7QVZ,...,,,,,2015-12-06,cbb9431b-99b3-49dc-852f-a59dbd0cceb4,97.6432,52.2536,20.9895,11
376,warszawa,Europe/Warsaw,81d7c37b-d28d-4df6-af5a-16e6e249084c,2faa643c-9d75-475a-ab13-d987085b0fb1,,PizzaPortal,DN59M,cfe56407-33e8-4c1d-871d-715e0d4a8d6f,0,DN59M,...,,,,,2015-12-06,d7641271-6b40-4c9d-9de1-749dd8b3bb35,1733.6100,52.2655,20.9748,16
377,warszawa,Europe/Warsaw,77fb1030-fe0f-4a36-b228-fd8fbc97d172,cb01edb7-05dc-4680-807b-5a383597ace6,,PizzaPortal,8TLDF,a5266452-2aad-471d-a86d-f4d78a25020d,0,8TLDF,...,,,,,2015-12-06,d7641271-6b40-4c9d-9de1-749dd8b3bb35,466.2810,52.2571,20.9942,17
378,warszawa,Europe/Warsaw,9ff90289-9bc4-4122-8d30-2538ced62a25,7a78451f-c34a-4b6c-8a2f-1666cce524a5,,PizzaPortal,42R6Z,897e5d1e-e0b6-424b-a1f0-de3e8c92132c,NaN,42R6Z,...,,,,,2015-12-06,d7641271-6b40-4c9d-9de1-749dd8b3bb35,317.2290,52.2550,20.9947,18
379,warszawa,Europe/Warsaw,9ff90289-9bc4-4122-8d30-2538ced62a25,5d3c5301-2ff6-4f97-8068-a978276d6501,,PizzaPortal,42R6Z,,NaN,42R6Z,...,,,,,2015-12-06,,317.2290,52.2550,20.9947,18
380,warszawa,Europe/Warsaw,676c8256-4c67-4586-b32e-1ac739c24b49,89327c05-b8cc-4684-a244-970bae1d8c0c,,PizzaPortal,ATMDE,10c7bc39-ca5e-4f02-ac74-1569fba46184,0,ATMDE,...,,,,,2015-11-23,ccecf15b-3ad3-42fb-add3-d10367154d5b,233.5220,52.2551,20.9890,14
381,warszawa,Europe/Warsaw,744398c8-bfc4-4832-9f92-b8bcd09a5f95,b0d4dd02-985d-4f11-bfbc-c5b6b174f9f5,,PizzaPortal,PTNCQ,10c7bc39-ca5e-4f02-ac74-1569fba46184,1,PTNCQ,...,,,,,2015-11-23,ccecf15b-3ad3-42fb-add3-d10367154d5b,897.4110,52.2567,20.9789,15
382,warszawa,Europe/Warsaw,9661a244-c643-4685-a3af-86a1f8d201a7,df449e48-dc39-43e2-ada1-a86f492be7b0,,PizzaPortal,UFM5J,39435979-a22a-4585-b5b0-b6926938d41d,0,UFM5J,...,,,,,2015-11-24,ccecf15b-3ad3-42fb-add3-d10367154d5b,1108.9700,52.2475,20.9779,12
383,warszawa,Europe/Warsaw,0ec3b1e3-7286-4c55-af60-6a9a8252ae92,e63b81fd-8a0b-48c4-b8ac-7397882d793d,,PizzaPortal,T9BG9,cb639ea7-1339-4e2b-906d-5a01adda5977,0,T9BG9,...,,,,,2015-11-24,ccecf15b-3ad3-42fb-add3-d10367154d5b,1265.7100,52.2453,20.9779,17
384,warszawa,Europe/Warsaw,e58a1994-075c-4c43-82de-c8ff2b5689d5,d3a1b549-ae55-4616-a6c9-2f5b4c3e9f89,,PizzaPortal,3XYXM,9ddc8aec-235d-4763-a4cf-23ecb57690f6,0,3XYXM,...,,,,,2015-11-25,ccecf15b-3ad3-42fb-add3-d10367154d5b,643.5740,52.2479,20.9879,11
385,warszawa,Europe/Warsaw,909657d0-5488-468f-ba58-f41305b425c6,25e59c37-a7c9-41ef-b83e-0df01ccd0781,,PizzaPortal,4GLZV,,NaN,4GLZV,...,,,,,2015-11-25,,643.5740,52.2479,20.9879,11
386,warszawa,Europe/Warsaw,00b3fdec-8cc3-454a-b9f0-75bdc728762e,1dd47a97-9dc4-4d8a-82dc-83c9ac367d04,,PizzaPortal,T45U6,1d5d0704-5f2a-4e93-b5b7-b6294de161cc,0,T45U6,...,,,,,2015-11-25,ccecf15b-3ad3-42fb-add3-d10367154d5b,1148.4600,52.2511,21.0073,12
387,warszawa,Europe/Warsaw,62fecef0-be07-44c5-9411-207d65d50610,ca196289-14f1-408b-a9e2-69572125c3d6,,PizzaPortal,3Q5CX,e8fc944c-609e-409c-a8d1-90259a11f90e,0,3Q5CX,...,,,,,2015-11-25,ccecf15b-3ad3-42fb-add3-d10367154d5b,1747.3900,52.2606,20.9682,13
388,warszawa,Europe/Warsaw,461333ae-562b-4af9-ae94-a0c4cd22351f,736cb544-c241-4366-9119-14a566742100,,PizzaPortal,ZH6VR,49e86d8f-8629-49d5-bf6b-3847a53510f0,0,ZH6VR,...,,,,,2015-11-25,ccecf15b-3ad3-42fb-add3-d10367154d5b,1265.7100,52.2453,20.9779,15
389,warszawa,Europe/Warsaw,3ba9a9e5-d3ff-47f7-bf93-95b366c8a259,41610ba0-c166-4dcc-94a9-9e55450d2c3b,,PizzaPortal,QQN2B,004072f2-b6d2-4b55-b53b-1d3e67915c0a,0,QQN2B,...,,,,,2015-11-25,38caba2e-a033-49c4-aa86-7af18c216d78,465.3990,52.2543,20.9842,17
390,warszawa,Europe/Warsaw,57dd3ff1-1058-4889-945a-553369da994b,41d913a7-3227-4798-abdc-b0bbbf8032fc,,PizzaPortal,Q6D45,004072f2-b6d2-4b55-b53b-1d3e67915c0a,1,Q6D45,...,,,,,2015-11-25,38caba2e-a033-49c4-aa86-7af18c216d78,1711.2000,52.2631,20.9715,18
391,warszawa,Europe/Warsaw,150b9e4c-1435-4df2-989b-ff5f1c342810,828bff1e-05c7-476d-851e-8b89f6e3135b,,PizzaPortal,LWLRN,18eba76b-909a-449b-add8-b0196d7fd074,0,LWLRN,...,,,,,2015-11-26,ccecf15b-3ad3-42fb-add3-d10367154d5b,726.7100,52.2497,20.9996,17

In [21]:
# That works also fine. Now let's try grabbing the data between two dates.
# That works fine. Now let's try selecting one restaurant.
query_bobby_november_part_1 = """
    SELECT * FROM tableau.delivery 
    WHERE restaurant_uuid='4117ea1c-60b7-42dd-9055-efa89c3041e5' 
    AND gastronomic_day::date >= '2015-11-01'::date AND gastronomic_day::date <= '2015-11-15'::date;
"""
bobby_november_part_1 = read_sql_query(query_bobby_november_part_1, engine)

In [22]:
# Let's see if this subset of data is actually what we were asking for.
bobby_november_part_1[['restaurant_name', 'gastronomic_day']].head()

,restaurant_name,gastronomic_day
0,Bobby Burger Stawki,2015-11-01
1,Bobby Burger Stawki,2015-11-01
2,Bobby Burger Stawki,2015-11-01
3,Bobby Burger Stawki,2015-11-01
4,Bobby Burger Stawki,2015-11-01

In [23]:
bobby_november_part_1[['restaurant_name', 'gastronomic_day']].tail()

,restaurant_name,gastronomic_day
61,Bobby Burger Stawki,2015-11-14
62,Bobby Burger Stawki,2015-11-15
63,Bobby Burger Stawki,2015-11-15
64,Bobby Burger Stawki,2015-11-15
65,Bobby Burger Stawki,2015-11-15

In [24]:
# Looks like we've been successful!

# Pushing files to Google Drive
Here I'm following the tutorial step by step. The following is a cut and paste of the script that they give us.

    import httplib2
    import os

    from apiclient import discovery
    import oauth2client
    from oauth2client import client
    from oauth2client import tools

    try:
        import argparse
        flags = argparse.ArgumentParser(parents=[tools.argparser]).parse_args()
    except ImportError:
        flags = None

    SCOPES = 'https://www.googleapis.com/auth/drive.metadata.readonly'
    CLIENT_SECRET_FILE = 'client_secret.json'
    APPLICATION_NAME = 'Drive API Python Quickstart'


    def get_credentials():
        """Gets valid user credentials from storage.

        If nothing has been stored, or if the stored credentials are invalid,
        the OAuth2 flow is completed to obtain the new credentials.

        Returns:
            Credentials, the obtained credential.
        """
        home_dir = os.path.expanduser('~')
        credential_dir = os.path.join(home_dir, '.credentials')
        if not os.path.exists(credential_dir):
            os.makedirs(credential_dir)
        credential_path = os.path.join(credential_dir,
                                       'drive-python-quickstart.json')

        store = oauth2client.file.Storage(credential_path)
        credentials = store.get()
        if not credentials or credentials.invalid:
            flow = client.flow_from_clientsecrets(CLIENT_SECRET_FILE, SCOPES)
            flow.user_agent = APPLICATION_NAME
            if flags:
                credentials = tools.run_flow(flow, store, flags)
            else: # Needed only for compatibility with Python 2.6
                credentials = tools.run(flow, store)
            print('Storing credentials to ' + credential_path)
        return credentials

    def main():
        """Shows basic usage of the Google Drive API.

        Creates a Google Drive API service object and outputs the names and IDs
        for up to 10 files.
        """
        credentials = get_credentials()
        http = credentials.authorize(httplib2.Http())
        service = discovery.build('drive', 'v2', http=http)

        results = service.files().list(maxResults=10).execute()
        items = results.get('items', [])
        if not items:
            print('No files found.')
        else:
            print('Files:')
            for item in items:
                print('{0} ({1})'.format(item['title'], item['id']))

    if __name__ == '__main__':
        main()

Actually this is not the simplest way of doing it. The a nicer library called pydrive. Let's try it instead.

## Uploading made easier: using pydrive

In [25]:
from pydrive.auth import GoogleAuth

try:
    gauth = GoogleAuth()
    gauth.LocalWebserverAuth() # Creates local webserver and auto handles authentication
except:
    pass

SyntaxError: invalid syntax (auth.py, line 160)

In [26]:
# Fuck this is python2!

## Listing all the restaurants

In [27]:
# We assume the delivery table is clean. Now list all unique restaurant uuids.
read_sql_query("SELECT DISTINCT restaurant_name from tableau.delivery", engine)

,restaurant_name
0,New Box - automated tests
1,Dixy Chicken Highgate
2,Plava Laguna
3,Perios Acocks
4,Bobby Burger Mazowiecka Noc
5,Bergmann Köfte
6,Papa Saaj's
7,Dream Wok
8,Love Chicken
9,Punjab Tandoori
10,Bobby Burger Grochów Noc
11,Neelam Kebab House
12,Dixy Chicken Northfield
13,Bobby Burger Grochów
14,Perios Moseley
15,Tastees
16,Bobby Burger Woronicza
17,Cakeaway
18,Bobby Burger Imielin Noc
19,Makarun Spaghetti And Cafe Noc
20,Aapka
21,Chicken.Com B11
22,Havanah
23,Khans Restaurant
24,McDonald's Świętokrzyska Noc
25,McDonald's CH Reduta
26,105 Radogoszcz
27,Delicious Pizza
28,Bobby Burger Ząbkowska
29,Mughli Restaurant and Charcoal Pit
...,...
320,Bombay Nights
321,Food Express Co.
322,The Viceroy
323,Spice NG3
324,Chicken Cottage
325,Sher Akbar
326,Burger King Leyton
327,Bobby Burger Woronicza Noc
328,The Bengal Restaurant
329,Beirut Cafe
330,Dixy Chicken Broadway Plaza
331,Nonna Rita
332,Indian spice
333,Milano's Pizza
334,Jungle Grill
335,Paprika Grill
336,PateMai
337,Bobby Burger Nowy Świat
338,Canadian Charcoal Pit
339,Trent bridge Spice
340,Gunnars pizzeria Hagagatan
341,Kathmandu
342,La Tomatina
343,Afterz Deserts
344,Urban Grille
345,Florida Chicken & Pizzas
346,Naz Balti House
347,Currylicious
348,Burger King Fallowfield
349,Pepe's Piri Piri

Nice. I think we now have all the elements to write the script now, except for the automatic upload to Google Drive.

In [28]:
# Let's see if the restaurant names are unique.
read_sql_query("SELECT DISTINCT restaurant_uuid from tableau.delivery", engine)

,restaurant_uuid
0,13ae47cc-3a47-4784-9ea4-df7f46598dae
1,93780a0f-6eda-4b3d-b71a-6631e3b8769f
2,79a6f6d0-cd12-4a1e-ad5e-5bc2f0164bac
3,03049952-ee3f-403f-9c38-7e7abccb8b78
4,5e23f3bd-eaf8-4907-80f0-17072ba528b3
5,c5f39803-c9b2-4397-9c9c-3b77e31ee7e3
6,c612b23a-1fc3-4183-86a6-1f239672fd8b
7,497e5e86-fc5f-4d76-862a-e02e32badd1a
8,f4e13003-54fd-479d-84ef-d45f41f00c7a
9,a4381de9-e929-498f-8af5-f1180d74db42
10,1503d52c-a8b7-4982-892f-8baa25a3705c
11,2980a40b-f250-4b60-a245-1ea9e13c6fc6
12,1be08e95-fc46-49cd-aec1-27c0713bd57d
13,6c1812c5-29bb-4a9a-8d2e-8e5001363f6c
14,21e4e16e-228b-492f-ba21-07fa1dcd8123
15,c60ea592-7546-42ef-bd04-fb561ce4ac14
16,cd9a9643-da69-496f-b285-792236d760c6
17,196fa2e2-abb5-407d-bc7a-2489a3bc9743
18,04b817d5-85e2-4e4f-9e5d-3cd71a0070e5
19,cf5752db-dc90-408c-b2f0-e551fa1f6c77
20,d843bdfb-cd0c-4839-9e33-4db6390267df
21,898a6ec4-3019-498c-909f-c6c44759ff28
22,a3615c76-407f-41f0-88ea-9329be4756c0
23,378abeca-28c9-4213-8d2d-f77a3743d553
24,2cd81205-1a6b-4a17-8dfe-68c6b9582279
25,54841e88-2f7d-4931-9aad-56ef74be36c1
26,ff9be434-6552-40fc-b1f7-7899f13dba37
27,7f5a84d9-f41d-4a3b-8720-6122b264dd38
28,7c2df298-b7ff-4f0c-b47a-85de42f99ad4
29,a10ebb9a-3256-42c4-be4c-bf3eb7fcf769
...,...
320,7ffdd124-17a4-4cea-a031-4743ef49183f
321,dceead09-ba9f-4f84-8c6f-701307ddee04
322,9a9bcd04-04f0-4504-8356-2313c5e8a87b
323,c12df1ea-46ec-4a3c-86bd-69278c2be292
324,c386fdf8-d361-4429-99d2-84abc1e8f77d
325,d69e833b-8135-44b1-9960-09cb7318cc60
326,b3436877-3802-40d7-81db-bce25f0bc8b0
327,031b51c7-eb94-4f72-9fc5-442ed5202382
328,ed4e2f5c-f92b-43cb-afc5-7cb044cdc13a
329,2cbaa4da-7dfc-42ff-b4aa-1ff1e5e3aaca
330,12f256a2-3714-4144-943a-36930c5b63c4
331,1ec01a92-7c52-4dc7-8822-82a565ae68e6
332,a3c95fa9-eeb3-4900-99e3-d74ad612c5b3
333,9f765a3a-a16c-4c0c-a617-48482c6d310d
334,fb70afd1-f733-40a7-a6f9-196cffdcaff5
335,3f4f2d9b-c6bf-4fb1-908f-1b8d5cb0421a
336,8b37e118-130e-4854-abaa-517a441d615d
337,b0b067d6-ef73-4e95-9aa1-d8cba2b0f102
338,cef69e6c-ad6b-45b4-9718-7dab35fbae0c
339,6c3ee0d6-c1bd-48cc-ac51-89de885e7d39
340,cddbe702-5742-47d6-a3e7-96632eb835ba
341,b0792f59-26b7-4118-93de-6dad1db1e08b
342,f94d881e-d2ea-490d-a40d-369e510a25c0
343,534e8d66-349f-48d2-89da-b6d094fae138
344,72acf6b8-fd5d-4976-a676-81bb5ba08870
345,002535c0-9ec5-42ec-aa39-cf6d336c1ecd
346,454757f5-51b3-46dc-a091-8c1b1b3863a7
347,41d439ea-908e-498e-8676-5d714098f417
348,fa2854bf-500d-4a65-8645-dac39661ef9e
349,880cc942-61d5-4f8a-b701-1fede3dbe0ae

In [29]:
# It looks like the restaurant names are indeed unique but I'm not gonna count on it.

In [36]:
# We might want to store the billing reports inside sub-directories corresponding to cities for clarity.
# So for good measure let's query cities:
# Let's see if the restaurant names are unique.
read_sql_query("SELECT DISTINCT restaurant_city from tableau.delivery", engine)

,restaurant_city
0,Manchester
1,Warszawa
2,London
3,Basildon
4,Birmingham
5,Liverpool
6,Nottingham
7,Lodz
8,Coventry
9,Leicester
10,Derby
11,Stockholm
12,Berlin

In [39]:
# We might want to pull other field at the same time, like the restaurant city and zip code
read_sql_query("SELECT DISTINCT restaurant_city, restaurant_name from tableau.delivery", engine)

,restaurant_city,restaurant_name
0,Birmingham,The Big Chip Fish Bar
1,Manchester,Cakeaway
2,Nottingham,City Kebab House
3,Warszawa,Meat Love
4,Birmingham,Dixy Chicken Highgate
5,Berlin,Taverna Dimokritos Einzelunternehmen
6,Stockholm,Sibiriens soppkök Roslagsgatan
7,Birmingham,Perios Moseley
8,Manchester,Sanskruti Restaurant
9,Birmingham,Dixy Chicken B7
10,Birmingham,Dixy Chicken Sheldon
11,Stockholm,Gunnars pizzeria Hagagatan
12,Derby,Anoki
13,Nottingham,Beijing Chef
14,Manchester,Al Jumeirah Restaurant
15,London,Rotisserie
16,Leicester,Munch Munch
17,Birmingham,Dolce Lounge
18,Warszawa,Tres Amigos Burrito Bar
19,Manchester,The Saffron Room
20,Warszawa,Bobby Burger - Plater Noc
21,Liverpool,Dixy Chicken Prescot Road (Liverpool)
22,London,The Bengal Restaurant
23,Manchester,Ishyzz Fast Food
24,Manchester,Flurries Cakes and Shakes
25,Manchester,Dixy Chicken (Cheetham Hill)
26,Nottingham,Dixy Chicken (Alfreton Rd)
27,Nottingham,Indian spice
28,Birmingham,Fish Co
29,London,Rooster Grill Piri Piri
...,...,...
320,Coventry,Burger King Coventry
321,Warszawa,Bobby Burger Agrykola
322,Birmingham,Route 34
323,London,Lokkanta Meze & Barbeque
324,London,Mezza & Grill Express
325,Warszawa,Tukan Salad Bar (Wołoska)
326,Derby,Top Chef
327,Birmingham,Wi Jammin
328,London,Masgouf
329,Manchester,Ariyadh Restaurant
330,Warszawa,PateMai
331,Basildon,Fast Food
332,Derby,Best Pizza
333,Birmingham,La Vera
334,Manchester,Caribbean Flavas
335,Birmingham,Marius
336,Derby,Amigo (DE1)
337,Nottingham,Chillis (NG2)
338,London,Alpha Pizza
339,Warszawa,Bobby Burger - Mazowiecka
340,Stockholm,Restaurang Sala Thai
341,Warszawa,Bobby Burger Grochów Noc
342,Nottingham,Pizza Supremo
343,Warszawa,Bobby Burger Woronicza
344,Nottingham,Kathmandu
345,Warszawa,Bobby Burger Galeria Renova
346,Warszawa,Bobby Burger Mokotów
347,London,O Burger
348,Birmingham,Pizza Haq B129LQ
349,Derby,The Viceroy